/* en este codigo CSS, se establecen propiedades para el cuerpo de un documento html
la alineacion y la fuente son aspectos clave para el diseño y la legibilidad de una pagina web */

body{
    align-items: center;
    /* con align-items: center, se centran verticalmente los elementos hijos del cuerpo */   
    text-align: center;
    /* con text-align: center, el texto dentro del cuerpo se alinea horizontalmente al centro de dicha pagina */
    font-family: "Times New Roman", Times, serif;
    /* en esta seccion se establece la fuente principal como "Times New Roman", con una lista de fuentes alternativas en caso de que la primera no este disponible */
}